@font-face {
  font-family: 'Duera';
  src: url("../fonts/duera.ttf") format("ttf"), url("../fonts/duera.woff2") format("woff2"), url("../fonts/duera.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes colorchange {
  0% {
    background: #163266; }
  33% {
    background: #3c1f8e; }
  66% {
    background: #671f8e; }
  100% {
    background: #163266; } }
@-webkit-keyframes colorchange {
  0% {
    background: #163266; }
  33% {
    background: #3c1f8e; }
  66% {
    background: #671f8e; }
  100% {
    background: #163266; } }
body {
  animation: colorchange 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation: colorchange 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  font-size: 20px;
  color: #fff;
  transition: 0.7s all ease-out; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 40px; } }

h1 {
  font-family: "Duera", Helvetica, sans-serif;
  color: #fff;
  font-size: 40px;
  transition: 0.7s all ease-out;
  letter-spacing: 0.1em; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 55px; } }

#social {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 5;
  color: #fff;
  width: 200px;
  mix-blend-mode: screen; }
  #social ul {
    list-style-type: none;
    float: right;
    mix-blend-mode: screen; }
    #social ul li {
      display: inline-block;
      mix-blend-mode: screen; }
      #social ul li img {
        max-width: 50px; }
        #social ul li img:hover, #social ul li img:active {
          transform: scale(1.2);
          -webkit-transform: scale(1.2); }

#border-top {
  background-color: #73de17;
  height: 2vh;
  position: fixed;
  top: 2vh;
  left: 0;
  width: 100%;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#border-top-2 {
  background-color: #faea16;
  height: 2vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#border-bottom {
  background-color: #ec1ca5;
  height: 2vh;
  position: fixed;
  bottom: 2vh;
  left: 0;
  width: 100%;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#border-bottom-2 {
  background-color: #b328ec;
  height: 2vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#border-left {
  background-color: #e71832;
  width: 2vh;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 2vh;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#border-left-2 {
  background-color: #f07319;
  width: 2vh;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#border-right {
  background-color: #188ae7;
  width: 2vh;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 2vh;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#border-right-2 {
  background-color: #732df4;
  width: 2vh;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  mix-blend-mode: hard-light;
  opacity: 0.7; }

#small {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  transition: 0.7s all ease-out; }
  @media screen and (min-width: 768px) {
    #small {
      font-size: 18px; } }

#back {
  font-family: Georgia, serif;
  font-style: italic;
  float: right; }

#message {
  position: relative;
  top: 30vh;
  text-align: center;
  padding: 1em;
  width: 50%;
  margin: auto; }
  @media screen and (min-width: 768px) {
    #message {
      width: 60%; } }
  @media screen and (min-width: 1024px) {
    #message {
      width: 50%; } }
  @media screen and (min-width: 1280px) {
    #message {
      width: 40%; } }

/*# sourceMappingURL=index.css.map */
