@font-face {
    font-family: 'Duera';
    src: url('../fonts/duera.ttf') format('ttf'),
    url('../fonts/duera.woff2') format('woff2'),
         url('../fonts/duera.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
